<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Form</title>
</head>
<body>
<h1>Book Form</h1>
<form action="#" th:action="@{/books/save}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <label>Title:</label>
    <input type="text" th:field="*{title}"/><br/><br/>
    <label>ISBN:</label>
    <input type="text" th:field="*{isbn}"/><br/><br/>
    <label>Author:</label>
    <input type="text" th:field="*{author}"/><br/><br/>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>
